* {
  background-color: black;
  color: rgb(254, 249, 244);
  text-align: center;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h1 {
  margin: 3vh auto;
  font-family: "Merriweather", serif;
}

.board {
  margin-top: 20px;
}

.row {
  height: 17vw;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw 0;
}

.box {
  background-color: none;
  border-width: 2px;
  border-color: #3a3a3c;
  border-style: solid;
  width: 16vw;
  height: 16vw;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.keyboard {
  margin-top: 3vh;
  align-self: flex-end;
}

.keyrow {
  height: 54px;
  width: 95vw;
  display: flex;
  align-items: center;
  padding: 1px 0;
  justify-content: center;
}

.key,
.enter,
.deleteKey {
  background-color: #818384;
  width: 9vw;
  height: 50px;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 5px;
}

.enter,
.deleteKey {
  font-size: 13px;
  width: 70px;
}

.green {
  background-color: rgb(34, 84, 30);
}

.yellow {
  background-color: rgb(238, 204, 37);
}
.dark {
  background-color: #3a3a3c;
}
